:root {
  --bannerGradient: linear-gradient( #33abb8, 	#006f8b );
  --activeBannerGradient: linear-gradient(#27628f, 	#014b6a );
  --toolbarGradient: linear-gradient( #2e96a1, 	#015d74 );
  --backgroundColor: #cad6da;
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 4px;
  }

  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0em;
      padding: 0em;
      background-color:#ececec;
      align-items: center;
  }

/* === HORIZONTAL TOOLBAR CSS === */

  #navbar {
    overflow: hidden;
    background-image:var(--toolbarGradient);
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif !important;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.2em 1.4em;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
  }
  
  #navbar a:hover {
    background-color: #024f63;
    color: rgb(255, 255, 255);
  }
  
  #navbar a.active {
    background-color: #024a5c ;
    color: white;
  }
  
  .content {
    padding: 1em;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  
  .sticky + .content {
    padding-top: 3.75em;
  }


/* === BANNER SECTION CSS === */

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

section.header {
  width: 100%;
  padding-top: 3em;
  padding-left: 2em;
  background: var(--bannerGradient);
  color: white;
}

section.header h1{
  position: relative;
  padding: 0em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 4em;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  padding-top: 0.5em;
  font-family: 'Raleway', sans-serif;
  font-size: 0.28em !important;
  font-weight: 500;
  line-height: 1.3;
  color: #ffffff  !important;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.two h1 {
  text-transform: capitalize;
}

.two h1:before {
  text-align:left ;
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 4em;
  height: 0.01em;
  content: "";
  background-color: #ffffff;
}

.two h1 span {
  font-size: 0.8125em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 0.625em;
  color:#ffffff !important;
}

#dad {
  width: 35em;
  height: 30em;
}

#dadContainer {
  align-items: right;
}


/* === SOCIAL MEDIA ICONS CSS === */

.social-media-buttons {
  display: flex;
  justify-content: space-between;
  width: 30em;
}

.fa {
  padding-top: 0.9em;
  font-size: 2em !important;
  width: 2.9em;
  height: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #dcdcdc;
  color:#004a5c;
}

.fa a {
  padding: 0.5em;
}

.fa:hover {
    opacity: 0.7;
}


/* === BLURB SECTION CSS === */
.whole-blurb-container {
  padding-top: 2em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  align-items: center;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
}

.blurb-container {
  grid-column-gap: 3em;
  display: grid;
  grid-template-columns: 1fr 3fr ;
  margin-bottom: 1.5em;
}

#blurb {
  padding: 1.5em;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

#blurbSubTitle {
  font-weight: 500;
}

#blurbTitle {
  font-size: 1.5em;
}

#footImage {
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

/* === UNDER BLURB SECTION CSS === */

.underBlurb {
  padding: 1.5em;
  background: #fff;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
    float:left;
  }

/* 
=======#

ABOUT PAGE CSS

=======#
*/

/* === BLURB SECTION CSS === */

section.about-blurb {
  font-weight: 500 !important;
  padding:2em;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* === ABOUT TIMELINE CSS == */
:root {
--color-primary: #004ffc;
--color-light: white;
--color-dim: #6c6d6d;
--spacing: 50px;
--radius: 4px;

--date: 120px;
--dotborder: 4px;
--dot: 11px;
--line: 4px;
}

.timeline {
  border-left: var(line) solid #004ffc;
  border-bottom-right-radius: var(radius);
  border-top-right-radius: var(radius) ;   
  background: fade(var(color-light), 3%);
  color: fade(white, 80%); 
  margin: var(spacing) auto;  
  letter-spacing: 0.5px;   
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;   
  padding: var(spacing);   
  list-style: none;
  text-align: left;  
  font-weight: 100;  
  max-width: 30%;
}
  
  .timeline h1 {
   letter-spacing: 1.5px;
   font-weight: 100;
   font-size: 1.4em;    
  }
  
  .timeline h2, h3 {
   letter-spacing: 1.5px;
   font-weight: 400;
   font-size: 1.4em;
  }
  
  .event {
    border-bottom: 1px dashed fade(var(color-light), 10%);
    padding-bottom: (var(spacing) * 0.5);
    margin-bottom: var(spacing); 
  }
